*{
    margin: 0;
    padding: 0;
}
.Lowerbar{
    display: flex;
    border-bottom: 1px solid wheat;
    padding-top: 35px;
    padding-bottom: 35px;
}
.sidebar1{
    /* background-color: aliceblue; */
    flex: 3;
    padding-left: 30px;
}
.sidebar2{
    /* background-color: rgb(35, 111, 179); */
    flex: 2;
}
.sidebar3{
    /* background-color: rgb(3, 245, 245); */
    flex: 2;
}
.sidebar4{
    /* background-color: rgb(150, 224, 12); */
    flex: 2;
}
.sidebar5{
    /* background-color: rgb(195, 240, 15); */
    flex: 2;
}
.sidebar6{
    /* background-color: rgb(241, 16, 16); */
    flex: 2;
}
.sidebar7{
    /* background-color: rgb(219, 16, 16); */
    flex: 2;
}
.icon{
    display: flex;
    padding-top: 25px;
}
.globe{
    margin-right: 15px;
}
.listitem1{
    cursor: pointer; 
    list-style: none;

}
.item1{
    margin-top: 20px;
}
.item1:hover{
    color: darkgrey;
}
.item2{
    list-style: none;
    margin-top: 20px;
}
.item2:hover{
    color: darkgray;
    
}
.brand{
    margin-top: 25px;
}
.design1{
    margin-top: 25px;
}